set_location RA_ENABLE_N_I_0_1_lut 16 16 3 # SB_LUT4 (LogicCell: RA_ENABLE_N_I_0_1_lut_LC_0)
set_location UMMU_CASEN.i1_2_lut 8 7 1 # SB_LUT4 (LogicCell: UMMU_CASEN.i1_2_lut_LC_1)
set_location UMMU_CASEN.i1_2_lut_adj_48 9 11 1 # SB_LUT4 (LogicCell: UMMU_CASEN.i1_2_lut_adj_48_LC_2)
set_location UMMU_CASEN.i1_4_lut 9 7 7 # SB_LUT4 (LogicCell: UMMU_CASEN.i1_4_lut_LC_3)
set_location UMMU_INTERNALS.C8_FXX_I_0_2_lut 9 8 2 # SB_LUT4 (LogicCell: UMMU_INTERNALS.C8_FXX_I_0_2_lut_LC_4)
set_location UMMU_INTERNALS.i1172_2_lut 10 8 4 # SB_LUT4 (LogicCell: UMMU_INTERNALS.i1172_2_lut_LC_5)
set_location UMMU_INTERNALS.i1_4_lut 10 8 5 # SB_LUT4 (LogicCell: UMMU_INTERNALS.i1_4_lut_LC_6)
set_location UMMU_INTERNALS.i2100_4_lut 14 8 0 # SB_LUT4 (LogicCell: UMMU_INTERNALS.i2100_4_lut_LC_7)
set_location UMMU_INTERNALS.i2136_4_lut 13 8 4 # SB_LUT4 (LogicCell: UMMU_INTERNALS.i2136_4_lut_LC_8)
set_location UMMU_INTERNALS.i2142_4_lut 13 8 5 # SB_LUT4 (LogicCell: UMMU_INTERNALS.i2142_4_lut_LC_9)
set_location U_ADDR_DECODER.CXXX_FXXX_I_0_2_lut_3_lut 9 6 5 # SB_LUT4 (LogicCell: U_ADDR_DECODER.CXXX_FXXX_I_0_2_lut_3_lut_LC_10)
set_location U_ADDR_DECODER.CXXX_FXXX_I_0_79_2_lut_3_lut 9 6 6 # SB_LUT4 (LogicCell: U_ADDR_DECODER.CXXX_FXXX_I_0_79_2_lut_3_lut_LC_11)
set_location U_ADDR_DECODER.CXXX_I_0_80_2_lut_3_lut 9 8 1 # SB_LUT4 (LogicCell: U_ADDR_DECODER.CXXX_I_0_80_2_lut_3_lut_LC_12)
set_location U_ADDR_DECODER.DXXX_N_N_13_I_0_2_lut 9 8 4 # SB_LUT4 (LogicCell: U_ADDR_DECODER.DXXX_N_N_13_I_0_2_lut_LC_13)
set_location U_ADDR_DECODER.MA12_I_45_2_lut_3_lut 12 8 7 # SB_LUT4 (LogicCell: U_ADDR_DECODER.MA12_I_45_2_lut_3_lut_LC_14)
set_location U_ADDR_DECODER.MC0XX_N_I_3_2_lut_3_lut 10 6 4 # SB_LUT4 (LogicCell: U_ADDR_DECODER.MC0XX_N_I_3_2_lut_3_lut_LC_15)
set_location U_ADDR_DECODER.MMU_1_J5.i1_2_lut_3_lut_4_lut 15 7 7 # SB_LUT4 (LogicCell: U_ADDR_DECODER.MMU_1_J5.i1_2_lut_3_lut_4_lut_LC_16)
set_location U_ADDR_DECODER.MMU_1_J5.i2_3_lut_4_lut 15 5 4 # SB_LUT4 (LogicCell: U_ADDR_DECODER.MMU_1_J5.i2_3_lut_4_lut_LC_17)
set_location U_ADDR_DECODER.i1193_2_lut_3_lut 9 7 6 # SB_LUT4 (LogicCell: U_ADDR_DECODER.i1193_2_lut_3_lut_LC_18)
set_location U_ADDR_DECODER.i1_2_lut 14 6 2 # SB_LUT4 (LogicCell: U_ADDR_DECODER.i1_2_lut_LC_19)
set_location U_ADDR_DECODER.i1_2_lut_adj_54 13 8 3 # SB_LUT4 (LogicCell: U_ADDR_DECODER.i1_2_lut_adj_54_LC_20)
set_location U_ADDR_DECODER.i1_3_lut 16 8 7 # SB_LUT4 (LogicCell: U_ADDR_DECODER.i1_3_lut_LC_21)
set_location U_ADDR_DECODER.i1_4_lut 5 9 2 # SB_LUT4 (LogicCell: U_ADDR_DECODER.i1_4_lut_LC_22)
set_location U_ADDR_DECODER.i2172_3_lut 9 9 7 # SB_LUT4 (LogicCell: U_ADDR_DECODER.i2172_3_lut_LC_23)
set_location U_ADDR_DECODER.i2204_2_lut 16 8 4 # SB_LUT4 (LogicCell: U_MMU_MPON.M5_2_23_LC_24)
set_location U_MMU_MPON.M5_2_23 16 8 4 # SB_DFF (LogicCell: U_MMU_MPON.M5_2_23_LC_24)
set_location U_ADDR_DECODER.i293_3_lut_4_lut 15 5 2 # SB_LUT4 (LogicCell: U_ADDR_DECODER.i293_3_lut_4_lut_LC_25)
set_location U_ADDR_DECODER.i2_3_lut 13 9 6 # SB_LUT4 (LogicCell: U_ADDR_DECODER.i2_3_lut_LC_26)
set_location U_ADDR_DECODER.i2_3_lut_4_lut 14 6 1 # SB_LUT4 (LogicCell: U_ADDR_DECODER.i2_3_lut_4_lut_LC_27)
set_location U_ADDR_DECODER.i2_4_lut 11 8 1 # SB_LUT4 (LogicCell: U_ADDR_DECODER.i2_4_lut_LC_28)
set_location U_ADDR_DECODER.i3_4_lut 14 4 3 # SB_LUT4 (LogicCell: U_ADDR_DECODER.i3_4_lut_LC_29)
set_location U_ADDR_DECODER.i3_4_lut_adj_53 16 8 2 # SB_LUT4 (LogicCell: U_ADDR_DECODER.i3_4_lut_adj_53_LC_30)
set_location U_ADDR_DECODER.i5_4_lut 15 8 1 # SB_LUT4 (LogicCell: U_ADDR_DECODER.i5_4_lut_LC_31)
set_location U_ADDR_DECODER.i838_3_lut 12 7 1 # SB_LUT4 (LogicCell: U_ADDR_DECODER.i838_3_lut_LC_32)
set_location U_DEV_DECODER.MMU_1_P3.i2_3_lut 15 5 5 # SB_LUT4 (LogicCell: U_DEV_DECODER.MMU_1_P3.i2_3_lut_LC_33)
set_location U_MMU_CXXXOUT.i1_4_lut 9 8 5 # SB_LUT4 (LogicCell: U_MMU_CXXXOUT.i1_4_lut_LC_34)
set_location U_MMU_EN80.i1_3_lut 9 10 2 # SB_LUT4 (LogicCell: U_MMU_EN80.i1_3_lut_LC_35)
set_location U_MMU_MD7.A_3__I_0_26_i15_4_lut 11 6 0 # SB_LUT4 (LogicCell: U_MMU_MD7.A_3__I_0_26_i15_4_lut_LC_36)
set_location U_MMU_MD7.A_3__I_0_26_i2_3_lut 11 5 3 # SB_LUT4 (LogicCell: U_MMU_MD7.A_3__I_0_26_i2_3_lut_LC_37)
set_location U_MMU_MD7.A_3__I_0_26_i4_3_lut 13 6 5 # SB_LUT4 (LogicCell: U_MMU_MD7.A_3__I_0_26_i4_3_lut_LC_38)
set_location U_MMU_MD7.A_3__I_0_26_i5_3_lut 12 6 6 # SB_LUT4 (LogicCell: U_MMU_MD7.A_3__I_0_26_i5_3_lut_LC_39)
set_location U_MMU_MD7.A_c_1_bdd_4_lut 11 6 4 # SB_LUT4 (LogicCell: U_MMU_MD7.A_c_1_bdd_4_lut_LC_40)
set_location U_MMU_MD7.i137_1_lut 11 6 6 # SB_LUT4 (LogicCell: U_MMU_SOFT_SWITCHES_C08X.BANK2_30_LC_41)
set_location U_MMU_SOFT_SWITCHES_C08X.BANK2_30 11 6 6 # SB_DFFNS (LogicCell: U_MMU_SOFT_SWITCHES_C08X.BANK2_30_LC_41)
set_location U_MMU_MD7.i1_2_lut 16 9 7 # SB_LUT4 (LogicCell: U_MMU_MD7.i1_2_lut_LC_42)
set_location U_MMU_MD7.i1_2_lut_3_lut_4_lut 15 6 3 # SB_LUT4 (LogicCell: U_MMU_MD7.i1_2_lut_3_lut_4_lut_LC_43)
set_location U_MMU_MD7.i1_2_lut_3_lut_4_lut_adj_51 11 4 3 # SB_LUT4 (LogicCell: U_MMU_MD7.i1_2_lut_3_lut_4_lut_adj_51_LC_44)
set_location U_MMU_MD7.i1_2_lut_adj_52 14 7 0 # SB_LUT4 (LogicCell: U_MMU_MD7.i1_2_lut_adj_52_LC_45)
set_location U_MMU_MD7.i2171_2_lut 11 5 5 # SB_LUT4 (LogicCell: U_MMU_MD7.i2171_2_lut_LC_46)
set_location U_MMU_MD7.i2_3_lut 16 8 6 # SB_LUT4 (LogicCell: U_MMU_MD7.i2_3_lut_LC_47)
set_location U_MMU_MD7.n2707_bdd_4_lut 11 5 6 # SB_LUT4 (LogicCell: U_MMU_MD7.n2707_bdd_4_lut_LC_48)
set_location U_MMU_MPON.i1_2_lut 14 8 3 # SB_LUT4 (LogicCell: U_MMU_MPON.i1_2_lut_LC_49)
set_location U_MMU_MPON.i2122_4_lut 14 4 5 # SB_LUT4 (LogicCell: U_MMU_MPON.i2122_4_lut_LC_50)
set_location U_MMU_MPON.i2140_4_lut 14 4 6 # SB_LUT4 (LogicCell: U_MMU_MPON.i2140_4_lut_LC_51)
set_location U_MMU_MPON.i2_3_lut_4_lut 14 4 1 # SB_LUT4 (LogicCell: U_MMU_MPON.i2_3_lut_4_lut_LC_52)
set_location U_MMU_MPON.i4_2_lut 16 8 3 # SB_LUT4 (LogicCell: U_MMU_MPON.i4_2_lut_LC_53)
set_location U_MMU_MPON.i6_4_lut 17 4 6 # SB_LUT4 (LogicCell: U_MMU_MPON.i6_4_lut_LC_54)
set_location U_MMU_MPON.i7_4_lut 16 7 3 # SB_LUT4 (LogicCell: U_MMU_MPON.i7_4_lut_LC_55)
set_location U_MMU_RA.MMU_RA_MUX.COL_RA0_I_0_3_lut_4_lut 17 9 6 # SB_LUT4 (LogicCell: U_MMU_RA.MMU_RA_MUX.COL_RA0_I_0_3_lut_4_lut_LC_56)
set_location U_MMU_RA.MMU_RA_MUX.COL_RA1_I_0_3_lut_4_lut 18 8 1 # SB_LUT4 (LogicCell: U_MMU_RA.MMU_RA_MUX.COL_RA1_I_0_3_lut_4_lut_LC_57)
set_location U_MMU_RA.MMU_RA_MUX.COL_RA2_I_0_3_lut_4_lut 18 9 4 # SB_LUT4 (LogicCell: U_MMU_RA.MMU_RA_MUX.COL_RA2_I_0_3_lut_4_lut_LC_58)
set_location U_MMU_RA.MMU_RA_MUX.COL_RA3_I_0_3_lut_4_lut 17 9 3 # SB_LUT4 (LogicCell: U_MMU_RA.MMU_RA_MUX.COL_RA3_I_0_3_lut_4_lut_LC_59)
set_location U_MMU_RA.MMU_RA_MUX.COL_RA4_I_0_4_lut 14 9 7 # SB_LUT4 (LogicCell: U_MMU_RA.MMU_RA_MUX.COL_RA4_I_0_4_lut_LC_60)
set_location U_MMU_RA.MMU_RA_MUX.COL_RA5_I_0_3_lut_4_lut 15 8 6 # SB_LUT4 (LogicCell: U_MMU_RA.MMU_RA_MUX.COL_RA5_I_0_3_lut_4_lut_LC_61)
set_location U_MMU_RA.MMU_RA_MUX.COL_RA6_I_0_3_lut_4_lut 13 9 2 # SB_LUT4 (LogicCell: U_MMU_RA.MMU_RA_MUX.COL_RA6_I_0_3_lut_4_lut_LC_62)
set_location U_MMU_RA.MMU_RA_MUX.COL_RA7_I_0_3_lut_4_lut 13 11 7 # SB_LUT4 (LogicCell: U_MMU_RA.MMU_RA_MUX.COL_RA7_I_0_3_lut_4_lut_LC_63)
set_location U_MMU_RA.MMU_RA_MUX.D_RAS_N_I_0_2_lut 14 9 6 # SB_LUT4 (LogicCell: U_MMU_RA.MMU_RA_MUX.D_RAS_N_I_0_2_lut_LC_64)
set_location U_MMU_RA.MMU_RA_MUX.i2_3_lut 16 13 5 # SB_LUT4 (LogicCell: U_MMU_RA.MMU_RA_MUX.i2_3_lut_LC_65)
set_location U_MMU_ROMEN.i1_2_lut_3_lut 9 8 3 # SB_LUT4 (LogicCell: U_MMU_ROMEN.i1_2_lut_3_lut_LC_66)
set_location U_MMU_ROMEN.i1_4_lut 9 8 0 # SB_LUT4 (LogicCell: U_MMU_ROMEN.i1_4_lut_LC_67)
set_location U_MMU_ROMEN.i2202_4_lut 8 8 0 # SB_LUT4 (LogicCell: U_MMU_ROMEN.i2202_4_lut_LC_68)
set_location U_MMU_ROMEN.i2207_4_lut 9 9 0 # SB_LUT4 (LogicCell: U_MMU_ROMEN.i2207_4_lut_LC_69)
set_location U_MMU_SELMB.SELMB_N_I_0_4_lut 10 7 0 # SB_LUT4 (LogicCell: U_MMU_SELMB.SELMB_N_I_0_4_lut_LC_70)
set_location U_MMU_SELMB.SELMB_N_I_24_4_lut 12 7 2 # SB_LUT4 (LogicCell: U_MMU_SELMB.SELMB_N_I_24_4_lut_LC_71)
set_location U_MMU_SELMB.i2092_2_lut 10 4 1 # SB_LUT4 (LogicCell: U_MMU_SELMB.i2092_2_lut_LC_72)
set_location U_MMU_SELMB.i2130_3_lut 10 3 0 # SB_LUT4 (LogicCell: U_MMU_SELMB.i2130_3_lut_LC_73)
set_location U_MMU_SELMB.i2_4_lut 10 4 5 # SB_LUT4 (LogicCell: U_MMU_SELMB.i2_4_lut_LC_74)
set_location U_MMU_SOFT_SWITCHES_C08X.A0_I_0_2_lut 10 5 0 # SB_LUT4 (LogicCell: U_MMU_SOFT_SWITCHES_C08X.OUT_FST_ACC_27_LC_75)
set_location U_MMU_SOFT_SWITCHES_C08X.OUT_FST_ACC_27 10 5 0 # SB_DFFNR (LogicCell: U_MMU_SOFT_SWITCHES_C08X.OUT_FST_ACC_27_LC_75)
set_location U_MMU_SOFT_SWITCHES_C08X.A0_I_0_34_2_lut 11 7 0 # SB_LUT4 (LogicCell: U_MMU_SOFT_SWITCHES_C08X.RDROM_31_LC_76)
set_location U_MMU_SOFT_SWITCHES_C08X.RDROM_31 11 7 0 # SB_DFFNS (LogicCell: U_MMU_SOFT_SWITCHES_C08X.RDROM_31_LC_76)
set_location U_MMU_SOFT_SWITCHES_C08X.RDROM_N_81_I_0_1_lut_2_lut 10 5 7 # SB_LUT4 (LogicCell: U_MMU_SOFT_SWITCHES_C08X.RDRAM_26_LC_77)
set_location U_MMU_SOFT_SWITCHES_C08X.RDRAM_26 10 5 7 # SB_DFFNR (LogicCell: U_MMU_SOFT_SWITCHES_C08X.RDRAM_26_LC_77)
set_location U_MMU_SOFT_SWITCHES_C08X.i297_4_lut_4_lut 10 5 2 # SB_LUT4 (LogicCell: U_MMU_SOFT_SWITCHES_C08X.OUT_WREN_32_LC_78)
set_location U_MMU_SOFT_SWITCHES_C08X.OUT_WREN_32 10 5 2 # SB_DFFNS (LogicCell: U_MMU_SOFT_SWITCHES_C08X.OUT_WREN_32_LC_78)
set_location U_MMU_SOFT_SWITCHES_C08X.i298_1_lut_4_lut_4_lut 10 5 1 # SB_LUT4 (LogicCell: U_MMU_SOFT_SWITCHES_C08X.WRPROT_28_LC_79)
set_location U_MMU_SOFT_SWITCHES_C08X.WRPROT_28 10 5 1 # SB_DFFNR (LogicCell: U_MMU_SOFT_SWITCHES_C08X.WRPROT_28_LC_79)
set_location U_SOFT_SWITCHES_C00X.SOFT_SWITCHES_LATCH.i1_2_lut 17 3 6 # SB_LUT4 (LogicCell: U_SOFT_SWITCHES_C00X.SOFT_SWITCHES_LATCH.i1_2_lut_LC_80)
set_location U_SOFT_SWITCHES_C00X.SOFT_SWITCHES_LATCH.i1_2_lut_4_lut 12 5 0 # SB_LUT4 (LogicCell: U_SOFT_SWITCHES_C00X.SOFT_SWITCHES_LATCH.i1_2_lut_4_lut_LC_81)
set_location U_SOFT_SWITCHES_C00X.SOFT_SWITCHES_LATCH.i1_2_lut_4_lut_4_lut 12 6 1 # SB_LUT4 (LogicCell: U_SOFT_SWITCHES_C00X.SOFT_SWITCHES_LATCH.i1_2_lut_4_lut_4_lut_LC_82)
set_location U_SOFT_SWITCHES_C00X.SOFT_SWITCHES_LATCH.i1_2_lut_4_lut_adj_50 12 7 6 # SB_LUT4 (LogicCell: U_SOFT_SWITCHES_C00X.SOFT_SWITCHES_LATCH.i1_2_lut_4_lut_adj_50_LC_83)
set_location U_SOFT_SWITCHES_C00X.SOFT_SWITCHES_LATCH.i1_2_lut_adj_49 13 6 2 # SB_LUT4 (LogicCell: U_SOFT_SWITCHES_C00X.SOFT_SWITCHES_LATCH.i1_2_lut_adj_49_LC_84)
set_location U_SOFT_SWITCHES_C00X.SOFT_SWITCHES_LATCH.i2086_2_lut_3_lut_4_lut 17 5 1 # SB_LUT4 (LogicCell: U_SOFT_SWITCHES_C00X.SOFT_SWITCHES_LATCH.i2086_2_lut_3_lut_4_lut_LC_85)
set_location U_SOFT_SWITCHES_C00X.SOFT_SWITCHES_LATCH.i2090_2_lut_4_lut 13 7 1 # SB_LUT4 (LogicCell: U_SOFT_SWITCHES_C00X.SOFT_SWITCHES_LATCH.i2090_2_lut_4_lut_LC_86)
set_location U_SOFT_SWITCHES_C00X.SOFT_SWITCHES_LATCH.i2104_2_lut_3_lut 12 4 4 # SB_LUT4 (LogicCell: U_SOFT_SWITCHES_C00X.SOFT_SWITCHES_LATCH.i2104_2_lut_3_lut_LC_87)
set_location U_SOFT_SWITCHES_C00X.SOFT_SWITCHES_LATCH.i2116_2_lut_3_lut_4_lut 11 4 0 # SB_LUT4 (LogicCell: U_SOFT_SWITCHES_C00X.SOFT_SWITCHES_LATCH.i2116_2_lut_3_lut_4_lut_LC_88)
set_location U_SOFT_SWITCHES_C00X.SOFT_SWITCHES_LATCH.i614_4_lut 12 5 6 # SB_LUT4 (LogicCell: U_SOFT_SWITCHES_C00X.SOFT_SWITCHES_LATCH.i614_4_lut_LC_89)
set_location U_SOFT_SWITCHES_C00X.SOFT_SWITCHES_LATCH.i626_4_lut 17 6 7 # SB_LUT4 (LogicCell: U_SOFT_SWITCHES_C00X.SOFT_SWITCHES_LATCH.i626_4_lut_LC_90)
set_location U_SOFT_SWITCHES_C00X.SOFT_SWITCHES_LATCH.i629_4_lut 12 6 5 # SB_LUT4 (LogicCell: U_SOFT_SWITCHES_C00X.SOFT_SWITCHES_LATCH.i629_4_lut_LC_91)
set_location U_SOFT_SWITCHES_C00X.SOFT_SWITCHES_LATCH.i631_4_lut 11 8 0 # SB_LUT4 (LogicCell: U_SOFT_SWITCHES_C00X.SOFT_SWITCHES_LATCH.i631_4_lut_LC_92)
set_location U_SOFT_SWITCHES_C00X.SOFT_SWITCHES_LATCH.i633_4_lut 13 6 4 # SB_LUT4 (LogicCell: U_SOFT_SWITCHES_C00X.SOFT_SWITCHES_LATCH.i633_4_lut_LC_93)
set_location U_SOFT_SWITCHES_C00X.SOFT_SWITCHES_LATCH.i636_4_lut 13 7 2 # SB_LUT4 (LogicCell: U_SOFT_SWITCHES_C00X.SOFT_SWITCHES_LATCH.i636_4_lut_LC_94)
set_location U_SOFT_SWITCHES_C00X.i2_3_lut_4_lut 15 6 2 # SB_LUT4 (LogicCell: U_SOFT_SWITCHES_C00X.i2_3_lut_4_lut_LC_95)
set_location U_SOFT_SWITCHES_C05X.i2199_4_lut 17 4 7 # SB_LUT4 (LogicCell: U_SOFT_SWITCHES_C05X.i2199_4_lut_LC_96)
set_location U_SOFT_SWITCHES_C05X.i2_4_lut 9 8 7 # SB_LUT4 (LogicCell: U_SOFT_SWITCHES_C05X.i2_4_lut_LC_97)
set_location U_SOFT_SWITCHES_C05X.i616_4_lut 10 4 4 # SB_LUT4 (LogicCell: U_SOFT_SWITCHES_C05X.i616_4_lut_LC_98)
set_location U_SOFT_SWITCHES_C05X.i619_4_lut 10 6 2 # SB_LUT4 (LogicCell: U_SOFT_SWITCHES_C05X.i619_4_lut_LC_99)
set_location i1192_2_lut 16 15 2 # SB_LUT4 (LogicCell: U_MMU_RA.MMU_RA_MUX.RA_ENABLE_N_22_LC_100)
set_location U_MMU_RA.MMU_RA_MUX.RA_ENABLE_N_22 16 15 2 # SB_DFFNR (LogicCell: U_MMU_RA.MMU_RA_MUX.RA_ENABLE_N_22_LC_100)
set_location i2096_2_lut 14 5 4 # SB_LUT4 (LogicCell: i2096_2_lut_LC_101)
set_location i4_4_lut 14 6 3 # SB_LUT4 (LogicCell: i4_4_lut_LC_102)
set_location CASEN_N_padConstOneLUT4 8 20 0 # SB_LUT4 (LogicCell: CASEN_N_padLegalizeSB_DFF_LC_103)
set_location CASEN_N_padLegalizeSB_DFF 8 20 0 # SB_DFF (LogicCell: CASEN_N_padLegalizeSB_DFF_LC_103)
set_location CXXXOUT_padConstOneLUT4 8 20 1 # SB_LUT4 (LogicCell: CXXXOUT_padLegalizeSB_DFF_LC_104)
set_location CXXXOUT_padLegalizeSB_DFF 8 20 1 # SB_DFF (LogicCell: CXXXOUT_padLegalizeSB_DFF_LC_104)
set_location EN80_N_padConstOneLUT4 8 20 2 # SB_LUT4 (LogicCell: EN80_N_padLegalizeSB_DFF_LC_105)
set_location EN80_N_padLegalizeSB_DFF 8 20 2 # SB_DFF (LogicCell: EN80_N_padLegalizeSB_DFF_LC_105)
set_location KBD_N_padConstOneLUT4 12 20 2 # SB_LUT4 (LogicCell: KBD_N_padLegalizeSB_DFF_LC_106)
set_location KBD_N_padLegalizeSB_DFF 12 20 2 # SB_DFF (LogicCell: KBD_N_padLegalizeSB_DFF_LC_106)
set_location ORA_pad_0AndLUT4 18 20 0 # SB_LUT4 (LogicCell: ORA_pad_0AndLUT4_LC_107)
set_location ORA_pad_0ConstOneLUT4 18 20 3 # SB_LUT4 (LogicCell: ORA_pad_0LegalizeSB_DFF_LC_108)
set_location ORA_pad_0LegalizeSB_DFF 18 20 3 # SB_DFF (LogicCell: ORA_pad_0LegalizeSB_DFF_LC_108)
set_location ORA_pad_1AndLUT4 18 20 1 # SB_LUT4 (LogicCell: ORA_pad_1AndLUT4_LC_109)
set_location ORA_pad_1ConstOneLUT4 18 20 4 # SB_LUT4 (LogicCell: ORA_pad_1LegalizeSB_DFF_LC_110)
set_location ORA_pad_1LegalizeSB_DFF 18 20 4 # SB_DFF (LogicCell: ORA_pad_1LegalizeSB_DFF_LC_110)
set_location ORA_pad_2AndLUT4 18 20 2 # SB_LUT4 (LogicCell: ORA_pad_2AndLUT4_LC_111)
set_location ORA_pad_2ConstOneLUT4 18 20 5 # SB_LUT4 (LogicCell: ORA_pad_2LegalizeSB_DFF_LC_112)
set_location ORA_pad_2LegalizeSB_DFF 18 20 5 # SB_DFF (LogicCell: ORA_pad_2LegalizeSB_DFF_LC_112)
set_location ORA_pad_3AndLUT4 16 20 0 # SB_LUT4 (LogicCell: ORA_pad_3AndLUT4_LC_113)
set_location ORA_pad_3ConstOneLUT4 16 20 3 # SB_LUT4 (LogicCell: ORA_pad_3LegalizeSB_DFF_LC_114)
set_location ORA_pad_3LegalizeSB_DFF 16 20 3 # SB_DFF (LogicCell: ORA_pad_3LegalizeSB_DFF_LC_114)
set_location ORA_pad_4AndLUT4 16 20 1 # SB_LUT4 (LogicCell: ORA_pad_4AndLUT4_LC_115)
set_location ORA_pad_4ConstOneLUT4 16 20 4 # SB_LUT4 (LogicCell: ORA_pad_4LegalizeSB_DFF_LC_116)
set_location ORA_pad_4LegalizeSB_DFF 16 20 4 # SB_DFF (LogicCell: ORA_pad_4LegalizeSB_DFF_LC_116)
set_location ORA_pad_5AndLUT4 16 20 2 # SB_LUT4 (LogicCell: ORA_pad_5AndLUT4_LC_117)
set_location ORA_pad_5ConstOneLUT4 16 20 5 # SB_LUT4 (LogicCell: ORA_pad_5LegalizeSB_DFF_LC_118)
set_location ORA_pad_5LegalizeSB_DFF 16 20 5 # SB_DFF (LogicCell: ORA_pad_5LegalizeSB_DFF_LC_118)
set_location ORA_pad_6AndLUT4 12 20 0 # SB_LUT4 (LogicCell: ORA_pad_6AndLUT4_LC_119)
set_location ORA_pad_6ConstOneLUT4 12 20 3 # SB_LUT4 (LogicCell: ORA_pad_6LegalizeSB_DFF_LC_120)
set_location ORA_pad_6LegalizeSB_DFF 12 20 3 # SB_DFF (LogicCell: ORA_pad_6LegalizeSB_DFF_LC_120)
set_location ORA_pad_7AndLUT4 12 20 1 # SB_LUT4 (LogicCell: ORA_pad_7AndLUT4_LC_121)
set_location ORA_pad_7ConstOneLUT4 12 20 4 # SB_LUT4 (LogicCell: ORA_pad_7LegalizeSB_DFF_LC_122)
set_location ORA_pad_7LegalizeSB_DFF 12 20 4 # SB_DFF (LogicCell: ORA_pad_7LegalizeSB_DFF_LC_122)
set_location ROMEN2_N_padConstOneLUT4 8 20 3 # SB_LUT4 (LogicCell: ROMEN2_N_padLegalizeSB_DFF_LC_123)
set_location ROMEN2_N_padLegalizeSB_DFF 8 20 3 # SB_DFF (LogicCell: ROMEN2_N_padLegalizeSB_DFF_LC_123)
set_location U_MD7AndLUT4 5 20 0 # SB_LUT4 (LogicCell: U_MD7AndLUT4_LC_124)
set_location U_MD7ConstOneLUT4 5 20 1 # SB_LUT4 (LogicCell: U_MD7LegalizeSB_DFF_LC_125)
set_location U_MD7LegalizeSB_DFF 5 20 1 # SB_DFF (LogicCell: U_MD7LegalizeSB_DFF_LC_125)
set_location U_ROMEN1_NConstOneLUT4 5 20 2 # SB_LUT4 (LogicCell: U_ROMEN1_NLegalizeSB_DFF_LC_126)
set_location U_ROMEN1_NLegalizeSB_DFF 5 20 2 # SB_DFF (LogicCell: U_ROMEN1_NLegalizeSB_DFF_LC_126)
set_location U_R_W_N_245ConstOneLUT4 3 20 0 # SB_LUT4 (LogicCell: U_R_W_N_245LegalizeSB_DFF_LC_127)
set_location U_R_W_N_245LegalizeSB_DFF 3 20 0 # SB_DFF (LogicCell: U_R_W_N_245LegalizeSB_DFF_LC_127)
set_location U_MMU_HOLD_TIME.D_PHI_0_9_THRU_LUT4_0 10 8 2 # SB_LUT4 (LogicCell: U_MMU_HOLD_TIME.D_PHI_0_9_LC_128)
set_location U_MMU_HOLD_TIME.D_PHI_0_9 10 8 2 # SB_DFF (LogicCell: U_MMU_HOLD_TIME.D_PHI_0_9_LC_128)
set_location U_MMU_HOLD_TIME.SHIFT_REGISTER_i0_THRU_LUT4_0 10 9 3 # SB_LUT4 (LogicCell: U_MMU_HOLD_TIME.SHIFT_REGISTER_i0_LC_129)
set_location U_MMU_HOLD_TIME.SHIFT_REGISTER_i0 10 9 3 # SB_DFF (LogicCell: U_MMU_HOLD_TIME.SHIFT_REGISTER_i0_LC_129)
set_location U_MMU_HOLD_TIME.SHIFT_REGISTER_i1_THRU_LUT4_0 10 9 1 # SB_LUT4 (LogicCell: U_MMU_HOLD_TIME.SHIFT_REGISTER_i1_LC_130)
set_location U_MMU_HOLD_TIME.SHIFT_REGISTER_i1 10 9 1 # SB_DFF (LogicCell: U_MMU_HOLD_TIME.SHIFT_REGISTER_i1_LC_130)
set_location U_MMU_MPON.DELTA_01XX_N_25_THRU_LUT4_0 16 8 5 # SB_LUT4 (LogicCell: U_MMU_MPON.DELTA_01XX_N_25_LC_131)
set_location U_MMU_MPON.DELTA_01XX_N_25 16 8 5 # SB_DFF (LogicCell: U_MMU_MPON.DELTA_01XX_N_25_LC_131)
set_location U_MMU_MPON.M5_7_24_THRU_LUT4_0 16 8 0 # SB_LUT4 (LogicCell: U_MMU_MPON.M5_7_24_LC_132)
set_location U_MMU_MPON.M5_7_24 16 8 0 # SB_DFF (LogicCell: U_MMU_MPON.M5_7_24_LC_132)
set_location U_MMU_RA.MMU_RA_MUX.U_DRAM_HOLD_TIME.D_Q3_16_THRU_LUT4_0 11 8 4 # SB_LUT4 (LogicCell: U_MMU_RA.MMU_RA_MUX.U_DRAM_HOLD_TIME.D_Q3_16_LC_133)
set_location U_MMU_RA.MMU_RA_MUX.U_DRAM_HOLD_TIME.D_Q3_16 11 8 4 # SB_DFF (LogicCell: U_MMU_RA.MMU_RA_MUX.U_DRAM_HOLD_TIME.D_Q3_16_LC_133)
set_location U_MMU_RA.MMU_RA_MUX.U_DRAM_HOLD_TIME.D_RAS_N_14_THRU_LUT4_0 14 12 4 # SB_LUT4 (LogicCell: U_MMU_RA.MMU_RA_MUX.U_DRAM_HOLD_TIME.D_RAS_N_14_LC_134)
set_location U_MMU_RA.MMU_RA_MUX.U_DRAM_HOLD_TIME.D_RAS_N_14 14 12 4 # SB_DFF (LogicCell: U_MMU_RA.MMU_RA_MUX.U_DRAM_HOLD_TIME.D_RAS_N_14_LC_134)
set_location U_MMU_RA.MMU_RA_MUX.U_DRAM_HOLD_TIME.PRAS_N_SHIFT_REGISTER_i0_THRU_LUT4_0 12 13 7 # SB_LUT4 (LogicCell: U_MMU_RA.MMU_RA_MUX.U_DRAM_HOLD_TIME.PRAS_N_SHIFT_REGISTER_i0_LC_135)
set_location U_MMU_RA.MMU_RA_MUX.U_DRAM_HOLD_TIME.PRAS_N_SHIFT_REGISTER_i0 12 13 7 # SB_DFF (LogicCell: U_MMU_RA.MMU_RA_MUX.U_DRAM_HOLD_TIME.PRAS_N_SHIFT_REGISTER_i0_LC_135)
set_location U_MMU_RA.MMU_RA_MUX.U_DRAM_HOLD_TIME.PRAS_N_SHIFT_REGISTER_i1_THRU_LUT4_0 13 13 6 # SB_LUT4 (LogicCell: U_MMU_RA.MMU_RA_MUX.U_DRAM_HOLD_TIME.PRAS_N_SHIFT_REGISTER_i1_LC_136)
set_location U_MMU_RA.MMU_RA_MUX.U_DRAM_HOLD_TIME.PRAS_N_SHIFT_REGISTER_i1 13 13 6 # SB_DFF (LogicCell: U_MMU_RA.MMU_RA_MUX.U_DRAM_HOLD_TIME.PRAS_N_SHIFT_REGISTER_i1_LC_136)
set_location U_MMU_RA.MMU_RA_MUX.U_DRAM_HOLD_TIME.PRAS_N_SHIFT_REGISTER_i2_THRU_LUT4_0 13 12 6 # SB_LUT4 (LogicCell: U_MMU_RA.MMU_RA_MUX.U_DRAM_HOLD_TIME.PRAS_N_SHIFT_REGISTER_i2_LC_137)
set_location U_MMU_RA.MMU_RA_MUX.U_DRAM_HOLD_TIME.PRAS_N_SHIFT_REGISTER_i2 13 12 6 # SB_DFF (LogicCell: U_MMU_RA.MMU_RA_MUX.U_DRAM_HOLD_TIME.PRAS_N_SHIFT_REGISTER_i2_LC_137)
set_location U_MMU_RA.MMU_RA_MUX.U_DRAM_HOLD_TIME.Q3_SHIFT_REGISTER_i0_THRU_LUT4_0 11 9 0 # SB_LUT4 (LogicCell: U_MMU_RA.MMU_RA_MUX.U_DRAM_HOLD_TIME.Q3_SHIFT_REGISTER_i0_LC_138)
set_location U_MMU_RA.MMU_RA_MUX.U_DRAM_HOLD_TIME.Q3_SHIFT_REGISTER_i0 11 9 0 # SB_DFF (LogicCell: U_MMU_RA.MMU_RA_MUX.U_DRAM_HOLD_TIME.Q3_SHIFT_REGISTER_i0_LC_138)
set_location U_MMU_RA.MMU_RA_MUX.U_DRAM_HOLD_TIME.Q3_SHIFT_REGISTER_i1_THRU_LUT4_0 11 9 3 # SB_LUT4 (LogicCell: U_MMU_RA.MMU_RA_MUX.U_DRAM_HOLD_TIME.Q3_SHIFT_REGISTER_i1_LC_139)
set_location U_MMU_RA.MMU_RA_MUX.U_DRAM_HOLD_TIME.Q3_SHIFT_REGISTER_i1 11 9 3 # SB_DFF (LogicCell: U_MMU_RA.MMU_RA_MUX.U_DRAM_HOLD_TIME.Q3_SHIFT_REGISTER_i1_LC_139)
set_location U_MMU_SOFT_SWITCHES_C08X.BANK1_25_THRU_LUT4_0 11 7 3 # SB_LUT4 (LogicCell: U_MMU_SOFT_SWITCHES_C08X.BANK1_25_LC_140)
set_location U_MMU_SOFT_SWITCHES_C08X.BANK1_25 11 7 3 # SB_DFFNR (LogicCell: U_MMU_SOFT_SWITCHES_C08X.BANK1_25_LC_140)
set_io A_pad_0 21 0 1 # ICE_IO
set_io A_pad_1 22 0 1 # ICE_IO
set_io A_pad_10 13 0 1 # ICE_IO
set_io A_pad_11 9 0 0 # ICE_IO
set_io A_pad_12 9 0 1 # ICE_IO
set_io A_pad_13 8 0 0 # ICE_IO
set_io A_pad_14 7 0 0 # ICE_IO
set_io A_pad_15 6 0 0 # ICE_IO
set_io A_pad_2 23 0 1 # ICE_IO
set_io A_pad_3 24 0 0 # ICE_IO
set_io A_pad_4 23 0 0 # ICE_IO
set_io A_pad_5 19 0 0 # ICE_IO
set_io A_pad_6 18 0 0 # ICE_IO
set_io A_pad_7 17 0 0 # ICE_IO
set_io A_pad_8 16 0 0 # ICE_IO
set_io A_pad_9 15 0 0 # ICE_IO
set_io CASEN_N_pad 8 21 0 # ICE_IO
set_io CXXXOUT_pad 9 21 0 # ICE_IO
set_io DMA_N_pad 5 0 0 # ICE_IO
set_io EN80_N_pad 9 21 1 # ICE_IO
set_location GND -1 -1 -1 # GND
set_io INH_N_pad 7 0 1 # ICE_IO
set_io KBD_N_pad 13 21 0 # ICE_IO
set_io ORA_pad_0 19 21 1 # ICE_IO
set_io ORA_pad_1 18 21 0 # ICE_IO
set_io ORA_pad_2 18 21 1 # ICE_IO
set_io ORA_pad_3 17 21 0 # ICE_IO
set_io ORA_pad_4 16 21 1 # ICE_IO
set_io ORA_pad_5 16 21 0 # ICE_IO
set_io ORA_pad_6 13 21 1 # ICE_IO
set_io ORA_pad_7 12 21 1 # ICE_IO
set_io PHI_0_pad 19 0 1 # ICE_GB_IO
set_io PRAS_N_pad 19 21 0 # ICE_IO
set_io Q3_pad 18 0 1 # ICE_IO
set_io ROMEN2_N_pad 8 21 1 # ICE_IO
set_io R_W_N_pad 6 0 1 # ICE_IO
set_location U_DELAY_OSCILLATOR.U_SB_HFOSC 0 21 1 # SB_HFOSC
set_io U_MD7 5 21 0 # SB_IO_OD
set_io U_ROMEN1_N 6 21 0 # SB_IO_OD
set_io U_R_W_N_245 4 21 0 # SB_IO_OD
set_location internalOscilator 25 0 2 # SMCCLK
set_location INV_DEV0_N -1 -1 -1 # INV
set_location INV_U_MMU_RA.MMU_RA_MUX.D_Q3 -1 -1 -1 # INV
set_location CONSTANT_ONE_LUT4 1 20 1 # SB_LUT4 (LogicCell: LC_141)
